.postInteractions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interactionIcons {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.postInteractions button {
  background-color: rgb(42, 42, 42);
  color: white;
  border: none;
  border-radius: 24px;
  padding: 16px;
  font-weight: bold;
  cursor: pointer;
}

.postInteractions button:hover {
  background-color: rgba(42, 42, 42, 0.77);
  color: white;
  border: none;
  border-radius: 24px;
  padding: 16px;
  font-weight: bold;
  cursor: pointer;
}